extends ./layout/layout

block title
    title Home 

block style 
    link(rel="stylesheet" href="/style/home.css")

block main 
    if(isUpdate)
        if(user)
            h1 Modification d'un utilisateur
            form.updateform(action="/update", method="post")
                label(for="name") Nom 
                input(type="text" name="name" value=user.name)
                label(for="date") Date de naissance
                input(type="date" name="date" value=user.birth)
                input(type="hidden" name="id" value=index)
                if(error)
                    span.error=error
                button(type="submit") Modifier
        else
            p.unknow Aucun utilisateur trouvé.
    
    else 
        h1 Ajout d'un utilisateur
        form.addform(action="/add", method="post")
            label(for="name") Nom 
            input(type="text" name="name")
            label(for="date") Date de naissance
            input(type="date" name="date")
            if(error)
                span.error=error
            button(type="submit") Ajouter